{% extends 'navbar.html' %}
{% block nav %}



   <div class="d-flex justify-content-center align-items-center" style="height: 75vh;">
    <div class="row p-2 container border shadow border-3" style="height: 300%;">
        <div class="col d-flex align-items-center">
            <img src="{{product.image.url}}" class="img-fluid" alt="">
        </div>
        <div class="col d-flex flex-column justify-content-center">
            <h1>{{product.title}}</h1>
            <p>{{product.description}}</p>
            <!-- <p>{{product.stock}}</p> -->
            <p>RS:{{product.price}}<span class="badge bg-dark">{{product.stock}}</span></p>
            <p>category:{{product.category}}</p>
            <div class="d-grid">
                <a href="{% url 'acart' product.id %}" class="btn btn-outline-dark">
                    <i class="fa-solid fa-cart-shopping" ></i>
                    Add to cart</a>
            </div>
            <form method="post" action="{% url 'add_review' product.id %}">
                {% csrf_token %}
                {{ form.as_p }}
      
                <button type="submit" class="btn text-light d-flex justify-content-center mt-2" style="background-color: #ff4141;width: 250px;border-radius: 0px;height: 40px;">
                    <b>Add Review And Rating</b></button>
                <a href="{% url 'view_reviews' product.id %}">see all review</a>
            </form>
        </div>
    </div>

   </div>
{% endblock %}