<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </head>

    <body>
        <div class="container mt-5">
            <h5 class="mb-4">Reviews for {{ product.title }}</h5>
        
            <!-- customer reviews -->
            <div>
                {% for review in reviews %}
                    <div class="row mb-3 nt-5">
                        <div class="col-md-10">
                            <p><b>{{ review.user.username }}</b> - {{ review.created_at|date:"d M Y" }}</p>
                            <p>Rating: {{ review.rating }}/5</p>

                            <p>{{ review.comment }}</p>
                        </div>
                        {% if review.user == request.user %}
                        <div class="col-md-2">
                            <a href="{% url 'update_review' review.id %}" class="d-block mb-4">
                                <i class="fa-solid fa-pen-to-square" style="color: rgb(232, 194, 4);"></i>
                            </a>
                            <form method="POST" action="{% url 'delete_review' review.id %}">
                                {% csrf_token %}
                                <button type="submit" style="background: none; border: none; padding: 0;">
                                    <i class="fa-solid fa-trash" style="color: #bb180c;"></i>
                                </button>
                            </form>
                        </div>
                        {% endif %}
                        {% if request.user.is_superuser %}
                            <div class="col-md-2">
                                <!-- Delete Review Form -->
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="delete_review" value="{{ review.id }}">
                                    <button type="submit" style="background: none; border: none; padding-left: 50px;">
                                        <i class="fa-solid fa-trash" style="color: #bb180c;"></i>
                                    </button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
        
            
                    
                    <hr>
                {% empty %}
                    <p>No reviews yet.</p>
                {% endfor %}
            </div>
        </div>
        
    </body>
</html>
